<tr>
  <td><%= profile.vzs_id %></td>
  <td><%= link_to profile.user.full_name, profile.user%></td>
  <td><%= profile.email %></td>
  <td><%= profile.user_age %></td>
  <td><%= profile.telephone %></td>
</tr>
