<% title "Profile" %>

<p>
  <strong>First Name:</strong>
  <%= @profile.first_name %>
</p>
<p>
  <strong>Second Name:</strong>
  <%= @profile.second_name %>
</p>
<p>
  <strong>Street:</strong>
  <%= @profile.street %>
</p>
<p>
  <strong>House Number:</strong>
  <%= @profile.house_number %>
</p>
<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>
<p>
  <strong>Postal Code:</strong>
  <%= @profile.postal_code %>
</p>
<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>
<p>
  <strong>Telephone:</strong>
  <%= @profile.telephone %>
</p>
<p>
  <strong>Im Jabber:</strong>
  <%= @profile.im_jabber %>
</p>

<p>
  <%= link_to "Edit", edit_profile_path(@profile) %> |
  <%= link_to "Destroy", @profile, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", profiles_path %>
</p>
