<%= title "Články" %>

<% context_menu do %>
   <% if can? :create, Article %>
     <%= link_new new_article_path, 'Nový článek' %>
   <% end %>
 <% end %>

 <table class="table">
   <thead>
     <tr>
       <th>
         Článek
       </th>
       <th>
         Komentáře
       </th>
       <th>
         Datum vydání
       </th>
       <th>Autor</th>
     </tr>
   </thead>
   <tbody>
   <% @articles.each do |article| %>
     <tr>
       <td>
         <% if article.sticky %>
           <i class="icon-star"></i>
         <% end %>
         <%= link_to article.title, article %>
       </td>
       <td> 
         <%= article.comments.count %>
       </td>
       <td>
         <%= l article.created_at %>
       </td>
       <td>
         <%= article.user.full_name%>
       </td>
   </tr>
   <% end %>
 </tbody>
 </table>
