<% title "Články" %>

<% if can? :create, Article %>
    <%= link_to new_article_path, :class => "btn btn-large btn-primary pull-right" do %>
      <i class="icon-pencil icon-white"></i> Nový článek
    <% end %>
<% end %>
<br />
<div class=row-fluid">
  <% @articles.each do |article| %>
    <div class=span5>
      <h2><%= article.title %>
        <%= link_to article_path(article, :anchor => 'comments'), :class => "badge badge-info" do %>
          <%=article.comments.count%>
          <i class="icon-comment"></i>
        <% end %>
      </h2>
      <p><em><%= article.user.profile.full_name %> <%= l article.created_at, :format => :long %></em></p>
      <p><%= simple_format article.content.truncate(300) %></p>
      <div class="btn-group pull-right">
        <% if can? :read, article %>
          <%= link_to article, :class => "btn btn-primary" do %>
            Zobrazit »
          <% end %>
        <% end %>
        <% if can? :update, article %>
          <%= link_to edit_article_path(article), :class => "btn" do %>
            <i class="icon-edit"></i> Upravit
          <% end %>
        <% end %>
        <% if can? :destroy, article %>
          <%= link_to article, :confirm => 'Opravdu odstranit článek '+article.title+'?', :method => :delete, :class => "btn btn-danger" do %>
            <i class="icon-trash"></i> Smazat
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<%= will_paginate @articles %>
