<% title "Articles" %>

<table>
  <tr>
    <th>Nadpis</th>
    <th>Autor</th>
    <th>Požadovaná skupina</th>
  </tr>
  <% for article in @articles %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.user.login %></td>
      <td><%= article.group.name %></td>
      <td><%= link_to "Zobrazit", article %></td>
      <td><%= link_to "Upravit", edit_article_path(article) %></td>
      <td><%= link_to "Smazat", article, :confirm => 'Opravdu odstranit článek '+article.title+'?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nový článek", new_article_path %></p>
