<% title @article.title %>
<div class="row-fluid vzs-article">

  <div class="row-fluid">
    <div class="span8">
      <div class="row-fluid vzs-article-content">
        <div class="span12">
          <%= simple_format @article.content,{},  :sanitize => false %>
        </div>
        <% unless @article.gallery.nil? %>
          <div class="span12">
            <ul class="thumbnails">
              <%= render 'galleries/gallery', :gallery => @article.gallery %>
            </ul>
          </div>
        <% end %>
      </div>
      <%= render 'articles/meta_info', :article => @article %>
      <br />

      <%= render 'articles/show_comments' %>
    </div>

    <div class="span4">
      <%= render 'articles/show_buttons' %>
      <br />
      <%= render 'articles/show_attachments' %>
    </div>
  </div>

</div>

