<%= title @article.title %>
<div class="row-fluid vzs-article">

  <div class="row-fluid">
    <div class="span8">
      <div class="row-fluid vzs-article-content">
        <div class="span12">
          <%=  @article.content_html %>
        </div>
        <% @article.galleries.accessible_by(current_ability).each do |gallery| %>
          <div class="span12">
            <ul class="thumbnails">
              <%= render 'galleries/gallery', :gallery => gallery %>
            </ul>
          </div>
        <% end %>
      </div>
      <%= render 'articles/meta_info', :article => @article %>
      <br />

      <%= render 'articles/show_comments' %>
    </div>

    <div class="span4">
      <%= render 'articles/show_buttons' %>
      <br />
      <%= render 'articles/show_attachments' %>
    </div>
  </div>

</div>

