<% title @article.title %>
<div class="row-fluid vzs-article">

  <div class="row-fluid">
    <div class="span8">
      <%= render 'articles/meta_info', :article => @article %>
      <br />
      <div class="row-fluid vzs-article-content">
        <%= simple_format @article.content %>
      </div>
      <% unless @article.gallery.nil? %>
        <h3>Fotky:</h3>
        <p>Více fotek najdete ve fotogalerii <%= link_to @article.gallery.name, @article.gallery %>.</p>
        <ul class="thumbnails">
          <%= render @article.gallery.photos[0..2] %>
        </ul>
      <% end %>
      <%= render 'articles/show_comments' %>
    </div>

    <div class="span4">
      <%= render 'articles/show_buttons' %>
      <br />
      <%= render 'articles/show_attachments' %>
    </div>
  </div>

</div>

