<% title @article.title %>

<div>
  <em>Autor:</em> <%= @article.user.login %><br />
  <em>Min. požadované oprávnění:</em> <%= @article.group.name %><br />
</div>
<div style="border:1px dashed gray;margin:1em 0em 1em 0em;color:#555;padding:1em;line-spacing:3px;">
  <%= @article.content %>
</div>

<p>
  <% if can? :edit, @article %>
  <%= link_to "Upravit", edit_article_path(@article) %> |
  <%= link_to "Smazat", @article, :confirm => 'Opravdu odstranit tento článek?', :method => :delete %> |
  <% end %>
  <%= link_to "Výpis všech článků", articles_path %>
</p>

<div class="comments">
  <h3 id="comments">Komentáře:</h3>
  <% if @article.comments.empty? %>
    Zatím nejsou žádné komentáře k tomuto článku - Váš může být první.
  <% else %>
    <%= render @article.comments %>
  <% end %>
  <% if can? :create, Comment %>
  <%= render 'comments/form' %>
  <% end %>
</div>

