<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :login, "Přihlašovací jméno" %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password, "Heslo" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Potvrzení hesla" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit "Registrovat" %></p>
<% end %>
