        <div class="tab-pane" id="<%= group_key %>">
          <h2><%=t group_key, :scope => 'groups' %></h2>
          <% group.each do |age_key, age_group| %>
            <h3><%=t age_key, :scope => 'groups' %> (<%= age_group.size %>)</h3>
            <table class="table">
              <thead>
                <tr>
                  <th class="span1"><%= Profile.human_attribute_name(:vzs_id)%></th>
                  <th class="span2"><%= User.human_attribute_name(:full_name)%></th>
                  <th class="span3"><%= Profile.human_attribute_name(:email) %></th>
                  <th class="span1"><%= Profile.human_attribute_name(:age) %></th>
                  <th class="span2"><%= Profile.human_attribute_name(:telephone) %></th>
                </tr>
              </thead>
              <tbody>
                <% age_group.each do |user| %>
                  <%= render 'profiles/list_person', :profile => user.profile %>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
