        <div class="tab-pane" id="<%= group_key %>">
          <h2><%=t group_key, :scope => 'user.groups' %></h2>
          <% group.each do |age_key, age_group| %>
            <h3><%=t age_key, :scope => 'user.groups' %></h3>
            <table class="table">
              <thead>
                <tr>
                  <th class="span2"><%=t 'user.attr.fullname' %></th>
                  <th class="span3"><%=t 'user.attr.email' %></th>
                  <th class="span1"><%=t 'user.attr.age' %></th>
                  <th class="span2"><%=t 'user.attr.telephone' %></th>
                  <th class="span4"></th>
                </tr>
              </thead>
              <tbody>
                <% age_group.each do |user| %>
                  <%= render 'profiles/list_person', :profile => user.profile %>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
