<%= title "Nejbližší Akce"%>

<% context_menu do %>
   <% if can? :create, Event %>
     <%= link_new new_event_path, 'Nová událost' %>
   <% end %>
<% end %>

<table class="table table-striped">
  <% @pending_events.each do |event| %>
    <tr>
      <th><%= l(event.start_datetime, :format => :short) if event.start_datetime %></th>
      <td><%= event.event_type.try(:capitalize) %></td>
      <td><%= link_to_unless event.link.blank?, event.name, event.link %><% unless event.description.blank? %>, <%= event.description %><% end %></td>
      <td><%= event.place %></td>
      <td>
        <!-- <%= link_to 'Přihlásit', '#', :class => "btn btn-primary btn-large" %> -->
      </td>
  <% end %>
</table>

<p>
  <%= link_to "Přihlášení na akce je možné pouze pro členy zde.", "http://akcevzs.herokuapp.com" %>
  V budoucnu bude převedeno přímo na tyto stránky.
</p>

<h1> Proběhlé akce</h1>

<table cellpadding="10" cellspacing="10" class="table table-striped">
  <% @done_events.each do |event| %>
    <tr>
      <th><%= l(event.start_datetime, :format => :short) if event.start_datetime %></th>
      <td><%= event.event_type.try(:capitalize) %></td>
      <td><%= link_to event.name, event %></td>
      <td> <%= event.place%> </td>
      <td></td>
    </tr>
  <% end %>
</table>
