<%= title "Nejbližší Akce"%>
<table cellpadding="10" cellspacing="10" class="table table-striped">
  <% @events.each do |event| %>
    <tr>
      <th><%= l event.start_datetime, :format => :short %></th>
      <td class="red"><%= event.event_type %></td>
      <td><%= link_to event.name, event %></td>
      <td><%= event.place %></td>
      <td>
        <!-- <%= link_to 'Přihlásit', '#', :class => "btn btn-primary btn-large" %> -->
      </td>
  <% end %>
</table>

<p>
  Přihlášení na akce je možné pouze pro členy.
  V budoucnu bude převedeno přímo na tyto stránky.
</p>

<h1> Proběhlé akce</h1>

<table cellpadding="10" cellspacing="10" class="table table-striped">
  <% @done_events.each do |event| %>
    <tr>
      <th><%= l event.start_datetime, :format => :short %></th>
      <td class="red"><%= event.event_type %></td>
      <td><%= link_to event.name, event %></td>
      <td> <%= event.place %> </td>
      <td></td>
    </tr>
  <% end %>
</table>
