<%= title "Nejbližší Akce"%>

<% context_menu do %>
   <% if can? :create, Event %>
     <%= link_new new_event_path, 'Nová událost' %>
   <% end %>
<% end %>

<% @pending_events.each do |event| %>
  <%= render "pending_event", :event => event %>
<% end %>

<p>
  <%= link_to "Přihlášení na akce je možné pouze pro členy zde.", "http://akcevzs.herokuapp.com" %>
  V budoucnu bude převedeno přímo na tyto stránky.
</p>

<h1> Proběhlé akce</h1>

<% @done_events.each do |event| %>
  <%= render "done_event", :event => event %>
<% end %>
