<% title @page.title %>

<div class="row-fluid vzs-page">

  <div class="row-fluid">
    <div class="span8">
      <div class="row-fluid vzs-page-content">
        <%= simple_format @page.content %>
      </div>
    </div>

    <div class="span4">
      <% if can? :manage, @page %>
        <div>
          <%= link_to pages_path, :class => "btn btn-primary btn-large" do %>
            <i class="icon-arrow-left icon-white"></i> Seznam stránek
          <%end %>
        </div>
        <br />
        <div class="btn-group">
          <%= link_to edit_page_path(@page), :class => "btn" do %>
            <i class="icon-edit"></i> <%= t('btn.edit') %>
          <% end %>
          <%= link_to @page, :confirm => 'Opravdu odstranit tuto stránku?', :method => :delete, :class => "btn btn-danger" do %>
            <i class="icon-trash"></i> <%= t('btn.delete') %>
          <% end %>
        </div>
      <% end %>
      <br />
    </div>
  </div>

</div>

