<tr>
  <th><%=t 'user.attr.street' %></th>
  <td><%= address.street %></td>
</tr>
<tr>
  <th><%=t 'user.attr.housenumber' %></th>
  <td><%= address.house_number %></td>
</tr>
<tr>
  <th><%=t 'user.attr.city' %></th>
  <td><%= address.city %></td>
</tr>
<tr>
  <th><%=t 'user.attr.postcode' %></th>
  <td><%= address.postcode %></td>
</tr>
