<tr>
  <th><%= Address.human_attribute_name :street %></th>
  <td><%= address.street %></td>
</tr>
<tr>
  <th><%= Address.human_attribute_name :housenumber %></th>
  <td><%= address.house_number %></td>
</tr>
<tr>
  <th><%= Address.human_attribute_name :city %></th>
  <td><%= address.city %></td>
</tr>
<tr>
  <th><%= Address.human_attribute_name :postcode %></th>
  <td><%= address.postcode %></td>
</tr>
