<%= content_tag_for :li, photo, class: "span2" do %>
  <a href="<%= photo.image.url(:large) %>" rel="lightbox[]">
    <%= image_tag photo.image.url(:gallery), class: "img-polaroid"%>
  </a>
  <div>
    <% if current_user %> <!-- stazeni originalu a smazani fotky -->
      <a class="btn pull-right" href="<%= photo.image.url(:original)%>" >
        <i class="icon-download"></i>
      </a>
      <% if can? :destroy, photo  %>
        <%= link_to [photo.gallery, photo], :method=>:delete, :class=> 'btn btn-danger pull-right', :confirm => "Opravdu smazat fotografii?" do %>
        <i class="icon-trash"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>