<% title "Fotogalerie" %>
<% context_menu do %>
  <% if can? :create, Gallery %>
    <%= link_new new_gallery_path, t('label.gallery.new') %>
  <% end %>
<% end %>

<div class="row">
  <% @galleries.each do |gallery| %>
    <div class="row">
      <div class="span8 offset1">
        <h2><%= link_to gallery.name, gallery%> <small><%= gallery.description %></small></h2>
        <%= render gallery %>
      </div>
    </div>
  <% end %>

<%= will_paginate @galleries %>
</div>
