<%= title @gallery.name%>
<% context_menu do %>
  <%= link_back galleries_path, 'Seznam fotogalerií' %>
  <% if can? :edit, @gallery%>
    <%= link_edit edit_gallery_path(@gallery), t('btn.edit') %>
    <%= link_delete @gallery, t('btn.delete'), 'Opravdu odstranit tuto galerii?' %>
  <% end %>
<% end %>
<div class="row vzs-article">
  <%= @gallery.description %>&nbsp;
  <% unless @gallery.article.nil? %>
    <p>Pro více informací viz článek <%= link_to @gallery.article.title, @gallery.article %>.</p>
  <% end %>

  <%= render 'galleries/show_photos', :gallery => @gallery %>

  <% if can? :create, Photo %>
  <div class="span8">
      <% photo ||= current_user.photos.new :gallery_id => @gallery.id if current_user %>
      <h4>Nová fotka:</h4>
<%= semantic_form_for @gallery do |f| %>
	<%= f.semantic_errors %>
    <%= f.inputs do %>
      <%= f.file_field 'gallery_photos_image', :multiple => "multiple", :name => "gallery[photos_attributes][][image]" %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, :as => :button, :button_html => { :class => 'btn btn-success' } %>
    <% end %>
<% end %>
    </div>
  <% end %>
</div>
