<tr class="<%= subscribed_class(show, current_user) %>">
  <td><%= link_to "#{l show.date, :format => :with_day} - #{h show.name}", show %></td>
  <td><%= l(show.meet_time, :format => :extra_short) %> <%= h show.meet_at %></td>
  <td class="center"><%= l(show.end_time, :format => :extra_short) %></td>
  <td><%= show.description %></td>
  <td class="center"><%= show_subscribed_count(show) %></td>
</tr>

