<% title 'Vodní záchranná služba ČČK', 'MS Třebíč' %>

<%if @articles.first %>
  <div class="well">
    <% article = @articles.first %>
    <%= render :partial => 'shared/hero', :locals => {:article => article} %>
  </div>
<% end %>

<% @articles[1..-1].try(:in_groups_of, 2) do |group| %>
  <div class="row">
    <% group.each do |article| %>
      <% if article %>
        <div class="span4">
          <div class="row">
            <div class="span4">
              <div class="row">
                <div class="span4">
                  <h3>
                    <% if article.group > 0 %>
                      <span class="pull-right label"><%= t article.group, :scope => "groups" %></span>
                    <% end %>
                    <%= link_to article.title, article %>
                  </h3>
                </div>
              </div>
              <div class="row">
                <div class="span4">
                  <p>
                    <% if article.galleries.first.try(:photos) %>
                      <%= link_to article do %>
                        <%= image_tag article.galleries.first.photos.first.image.url(:thumbnail), :class => "float right" %>
                      <% end %>
                    <% end %>
                    <%= sanitize article.content.truncate(150), :tags => '' %>
                    <br />
                    <a href="<%= article_path(article) %>" class="btn btn-primary btn-medium">Více <i class="icon-chevron-right"></i></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
