<% title 'Vodní záchranná služba ČČK', 'MS Třebíč' %>

<%if @articles.first %>
  <div class="hero-unit">
    <% article = @articles.first %>
    <h1><%=link_to article.try(:title), article %></h1>
    <p>
      <%= sanitize article.try(:content).try(:truncate, 300), :tags => '' %>
      <% if article.gallery.try(:photos).try(:many?) %>
          <%= render article.gallery %>
      <% end %>
    </p>
    <p>
      <a href="<%= article_path(article) %>" class="btn btn-primary btn-large">Více <i class="icon-chevron-right"></i></a>
    </p>
  </div>
<% end %>

<% @articles[1..-1].try(:in_groups_of, 2) do |group| %>
  <div class="row">
    <% group.each do |article| %>
      <% if article %>
        <div class="span4">
          <div class="row">
            <div class="span4">
              <div class="row">
                <div class="span4">
                  <h3><%= link_to article.title, article %></h3>
                </div>
              </div>
              <div class="row">
                <div class="span4">
                  <p>
                    <% if article.gallery.try(:photos) %>
                      <%= link_to article do %>
                        <%= image_tag article.gallery.photos.first.image.url(:thumbnail), :class => "float right" %>
                      <% end %>
                    <% end %>
                    <%= sanitize article.content.truncate(150), :tags => '' %>
                    <br />
                    <a href="<%= article_path(article) %>" class="btn btn-primary btn-medium">Více <i class="icon-chevron-right"></i></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
