<ul class="nav nav-tabs nav-stacked">

  <li><%= link_to 'Úvodní stránka', root_path %></li>
  <li><%= link_to 'Fotogalerie', galleries_path %></li>
  <% pages_for_menu.each do |page| %>
    <li><%= page_link page %></li>
  <% end %>
</ul>
<ul class="nav nav-tabs nav-stacked">
  <% if can?(:create, Article) or can?(:read_members, User) %>
  <% end %>
  <% if can? :create, Article %>
    <li><%= link_to 'Správa článků', articles_path %></li>
  <% end %>
  <% if can? :read_members, User %>
    <li><%= link_to 'Seznam členů VZS', members_path %></li>
  <% end %>
  <% if can? :manage, Page %>
    <li><%= link_to raw('Správa stránek <br /> <small>Pro administrátora</small>'), pages_path %></li>
  <% end %>
</ul>
