<ul class="nav nav-list">

  <li class="nav-header">Menu</li>
    <li><%= link_to 'Aktuálně', root_path %></li>
  <li class="nav-header">Nase cinnost</li>
  <li>Plán akcí</li>
  <li>Proběhlé akce</li>
  <li>Tréninky</li>
  <li>Tábor</li>
  <li>Hartvíkovice</li>

  <li class="nav-header">O nas</li>
  <li>Kontakty</li>
  <li>Historie</li>
  <li>Záchraný tým</li>

  <li class="nav-header">Nase nabidka</li>
  <li>Ukázky a školení</li>
  <li>Nízké a vysoké lanové aktivity</li>
  <li>PŮJČOVNA MATERIÁLU</li>
  <li>KURZY</li>


  <li class="nav-header"><%= link_to 'Fotogalerie', galleries_path %></li>
  <li class="nav-header">Facebook</li>
  <li class="nav-header">POUZE PRO ČLENY</li>
  <li>VÝBOR</li>
  <li> DOKUMENTY </li>
  <li> SEZNAM ČLENŮ </li>
  <li> EMAIL</li>
  <% pages_for_menu.each do |page| %>
    <li><%= page_link page %></li>
  <% end %>

  <% if can?(:create, Article) or can?(:read_members, User) %>
    <li class="nav-header">Administrace</li>
  <% end %>
  <% if can? :create, Article %>
    <li><%= link_to 'Správa článků', articles_path %></li>
  <% end %>
  <% if can? :read_members, User %>
    <li><%= link_to 'Seznam členů VZS', members_path %></li>
  <% end %>
  <% if can? :manage, Page %>
    <li><%= link_to t('label.page.index'), pages_path %></li>
  <% end %>
</ul>
